body {
	margin: 0;
	background-color: $color-gray-light;
	color: $color-black;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 600px;
}

.header {
	border-spacing: 0px;
	border-color: transparent;
	border: none;
	border: 0px;
	border-collapse: collapse;
	vertical-align: bottom;
	margin: 0;
	width: 100%;

	&__logo {
		font-family: 'Hi Melody', cursive;
		font-weight: 500;
		font-size: 70px;
		color: $color-black;
		
		display: table-cell;
		vertical-align: inherit;
		text-align: center;
		text-align: -webkit-center;
	}
}

table {
	border-spacing: 0px;
	border-color: transparent;
	border: none;
	border: 0px;
	border-collapse: collapse;
	vertical-align: bottom;
	margin: 0;
}

td {
	margin: 0;
	border-spacing: 0px;
	border-color: transparent;
	border: none;
	border: 0px;
	border-collapse: collapse;
	vertical-align: bottom; 
}
td img {
	display: block;
}
.is-parent-wrapper {
	background: white;
}


.outer-container {
	width: $outerWidth;
}

.body-gutter {
	width: $bodyGutter;
}
.inner-container {
	width: 600px - $calcGutter;

	h1 {
		color: #343434;
		text-transform: uppercase;
	}

	p {
		line-height: 28px;

	}
}

.spacer {
	height: $spacer;
	td { height: $spacer; }
}