body {
	margin: 0;
	color: $color-black;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 600px;
	background-color: $color-primary-light;
}

.header {
	border-spacing: 0px;
	border-color: transparent;
	border: none;
	border: 0px;
	border-collapse: collapse;
	vertical-align: bottom;
	margin: 0;
	width: 100%;

	&__logo {
		font-family: 'Hi Melody', cursive;
		font-weight: 500;
		font-size: 70px;
		color: $color-black;
		// center
		display: table-cell;
		vertical-align: inherit;
		text-align: center;
		text-align: -webkit-center;
	}
}

.welcome {
	width: $outerWidth;
	padding-bottom: 25px;

	&--gutter {
		width: $spacer;
	}

	&__container {
		width: 600px - $calcGutter;

		&--heading {
			font-weight: 700;
			font-size: 30px;

			&-pynk {
				color: $color-primary;
			}

			&-link {
				text-align: -webkit-center;
				display: table-cell;
				vertical-align: inherit;
			}
		}
	}
}

.link {
	border-spacing: 0px;
	border-color: transparent;
	border-top: 1px solid $color-primary;
	border-bottom: 1px solid $color-primary;
	padding: 10px 0;
	vertical-align: bottom;
	margin: 0;
	width: 100%;

	&__center {
		display: table-cell;
		vertical-align: inherit;
		text-align: center;
		text-align: -webkit-center;
	}
}

.coupon-left {
	padding: 100px 42px;

	&--heading {
		font-size: 20px;
	}

	&--para {
		font-size: 14px;
		color: $color-gray;
	}
}