.navigation {
	background-color: $color-gray-light;
	border-spacing: 0px;
	border-color: transparent;
	border: 0px;
	border-collapse: collapse;
	vertical-align: bottom;
	margin: 0;
	display: table;

	&__table {
		width: 100%;

		&--text {
			padding: 15px 10px;
			text-align: -webkit-center;

		}
	}
}