.navigation {
	border-spacing: 0px;
	border-color: transparent;
	border: 0px;
	border-collapse: collapse;
	vertical-align: bottom;
	margin: 0;
	display: table;

	&__table {
		width: 100%;

		&--text {
			padding: 15px 35px;
			text-align: center;
			text-align: -webkit-center;
		}
	}
}

.cta {
	width: 100%;
	padding: 10px;
}