// Color
$color-blue: #a1c3d1;
$color-purple: #b39bc8;
$color-primary: #f172a1;
$color-primary-light: #f2eff5;
$color-primary-dark: #e64e98;
$color-black: #191919;
$color-gray: #4c4c4c;

// Padding
$outerWidth: 600px;
$gutterSmall: 20px;
$bodyGutter: 40px;
$calcGutter: $bodyGutter * 2;
$spacer: 40px;